
  <main class="flex-1 container mx-auto flex flex-col items-center justify-center py-10">
 
    <div class="text-center mb-12">
      <h1 class="text-4xl font-bold mb-4 text-[#4fd1c5]">Welcome to SBAR Healthcare</h1>
      <p class="text-lg mb-6 text-[#cbd5e0]">Streamline patient care with efficient SBAR communication.</p>
      <a href="/create-hospital" class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-6 py-3 rounded-full">Get Started</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    
      <div class="feature bg-[#2f485a] rounded-lg shadow-lg p-6 text-center">
        <span class="material-icons w-12 h-12 mx-auto mb-4 text-[#4fd1c5]">business</span>
        <h3 class="text-xl font-semibold mb-2 text-[#4fd1c5]">Register Hospital</h3>
        <p class="text-[#cbd5e0]">Add hospital information and manage hospital as admin.</p>
      </div>

      <div class="feature bg-[#2f485a] rounded-lg shadow-lg p-6 text-center">
        <span class="material-icons w-12 h-12 mx-auto mb-4 text-[#4fd1c5]">people</span>
        <h3 class="text-xl font-semibold mb-2 text-[#4fd1c5]">Manage Staff</h3>
        <p class="text-[#cbd5e0]">Add departments, units, and manage staff members.</p>
      </div>

    
      <div class="feature bg-[#2f485a] rounded-lg shadow-lg p-6 text-center">
        <span class="material-icons w-12 h-12 mx-auto mb-4 text-[#4fd1c5]">person</span>
        <h3 class="text-xl font-semibold mb-2 text-[#4fd1c5]">Admit Patients</h3>
        <p class="text-[#cbd5e0]">Staff can admit patients and manage SBARs.</p>
      </div>

  
      <div class="feature bg-[#2f485a] rounded-lg shadow-lg p-6 text-center">
        <span class="material-icons w-12 h-12 mx-auto mb-4 text-[#4fd1c5]">transfer_within_a_station</span>
        <h3 class="text-xl font-semibold mb-2 text-[#4fd1c5]">Patient Transfer</h3>
        <p class="text-[#cbd5e0]">Transfer patients between units and manage handovers.</p>
      </div>
    </div>
  </main>


 
