<div class="flex h-screen flex-col md:flex-row ">
 
  <aside class="w-full md:w-64  bg-[#2f485a] text-[#cbd5e0] flex flex-col overflow-y-auto no-scrollbar">
    <div class="p-6">
      <h1 class="text-3xl font-bold mb-6 text-[#4fd1c5]">Admin Dashboard</h1>
      <hr class="my-8">
      <nav class="space-y-2">
        <a  (click)="hideModels()" class="flex items-center p-2 text-base font-medium text-white hover:bg-[#4fd1c5] rounded-md cursor-pointer">
          <span class="material-icons mr-3">business</span>
          Overview
        </a>
        <a (mouseenter)="showDepartments()" class="flex items-center p-2 text-base font-medium text-white hover:bg-[#4fd1c5] rounded-md cursor-pointer">
          <span class="material-icons mr-3">business</span>
          Departments
        </a>
      </nav>
    </div>
  </aside>
  <main class="flex-1 p-10 bg-gray-100 overflow-y-auto no-scrollbar  relative" >
    <router-outlet ></router-outlet>

    <div *ngIf="showDepartmentList" (mouseenter)="keepDepartmentsVisible()" class="absolute bg-[#355f7e] text-[#cbd5e0] shadow-lg rounded-lg p-6 w-full md:w-80 top-5 left-5 z-20 h-2/3">
      <div class="flex justify-between items-center mb-2">
        <button class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded" (click)="showAddDepartmentModal=true">Add Department</button>
        <span class="material-icons cursor-pointer font-bold text-gray-400" (click)="showDepartmentList=false">
          close
        </span>
      </div>
      <h3 class="text-xl font-semibold mb-4">Departments</h3>
      <ul class="overflow-y-scroll h-1/2 no-scrollbar">
          <li *ngFor="let department of departments"    (click)="isSmallScreen? showUnits(department.id):''"   (mouseenter)="!isSmallScreen ? showUnits(department.id):'' "  class="flex justify-between items-center cursor-pointer hover:bg-gray-200 hover:text-gray-900 p-2 rounded-md">
              {{ department.name }}
              <button *ngIf="isAdmin" (click)="deleteDepartment(department.id)" class="text-red-600 hover:text-red-800 ml-2">
                  <span class="material-icons">delete</span>
              </button>
          </li>
      </ul>
  </div>

  <div *ngIf="showUnitList" (mouseenter)="keepUnitsVisible()" class="absolute bg-[#134e79] text-[#cbd5e0] font-bold shadow-lg rounded-lg p-6 w-full md:w-80 top-5 md:left-[352px] z-30 h-2/3">
    <div class="flex justify-between items-center mb-2">
      <button class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded" (click)="showAddUnitModel=true">Add Unit</button>
      <span class="material-icons cursor-pointer font-bold" (click)="showUnitList=false">
        close
      </span>
    </div>
      <h3 class="text-xl font-semibold mb-4">Units of {{ selectedDepartment.name }}</h3>
      <ul class="overflow-y-scroll h-1/2 no-scrollbar">
          <li *ngFor="let unit of units" (click)="isSmallScreen ? showPatients(unit.id):''"   (mouseenter)="!isSmallScreen ? showPatients(unit.id):''; selectUnit(unit)" class="flex justify-between items-center cursor-pointer hover:bg-gray-200 hover:text-gray-900 p-2 rounded-md">
              {{ unit.name }}
              <button (click)="deleteUnit(unit.id)" class="text-red-600 hover:text-red-800 ml-2">
                  <span class="material-icons">delete</span>
              </button>
          </li>
      </ul>
  </div>

  <div *ngIf="showPatientList" (mouseenter)="keepPatientsVisible()" class="absolute bg-[#206598]  text-[#cbd5e0] shadow-lg rounded-lg p-6 w-full md:w-80 top-5 left-0 md:left-[680px] z-40 h-2/3">
    <div class="flex justify-between items-center mb-2">
      <button class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded" (click)="showAddPatientModal=true">Add Patient</button>
      <span class="material-icons cursor-pointer font-bold text-gray-400" (click)="showPatientList=false">
        close
      </span>
    </div>
      <h3 class="text-xl font-semibold mb-4">Patients in {{ selectedUnit.name }}</h3>
      <div class="h-60 overflow-y-scroll no-scrollbar">
          <table class="min-w-40 bg-[#206598] text-[#cbd5e0]">
              <thead>
                  <tr>
                      <th class="py-2 px-4 border-b text-left">ID</th>
                      <th class="py-2 px-4 border-b text-left">First Name</th>
                      <th class="py-2 px-4 border-b text-left">Last Name</th>
                      <th class="py-2 px-4 border-b text-left">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let patient of patients" (click)="showSbars(patient.id); selectPatient(patient);showPatientList=false;showUnitList=false" class="cursor-pointer hover:bg-gray-200 hover:text-gray-900 p-2 rounded-md">
                      <td class="py-2 px-4 border-b text-left">{{patient.id}}</td>
                      <td class="py-2 px-4 border-b text-left">{{ patient.firstName }}</td>
                      <td class="py-2 px-4 border-b text-left">{{ patient.lastName }}</td>
                      <td class="py-2 px-4 border-b text-left">
                          <button  class="text-white hover:text-blue-800">
                              <span class="material-icons">visibility</span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
    
   

    <div *ngIf="showSbarDetails" (mouseenter)="keepSbarDetailsVisible()" class="absolute bg-white text-gray-900 shadow-lg rounded-lg p-6 top-0 left-0 w-full h-full z-20 overflow-auto">
      <h3 class="text-xl font-semibold mb-4">SBARs of {{ selectedPatient?.firstName }} {{ selectedPatient?.lastName }}</h3>
      <div class="flex gap-4  items-start justify-start ">
     
        <button type="button" (click)="showCreateSbarForm=true" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Add sbar</button>
        <button type="button" (click)="filtering=false" class="bg-blue-600 text-white px-4 py-2 rounded-lg">All sbars</button>
        </div>
      <div class="flex gap-4">
     
      <div class="p-6">
        <h2 class="text-2xl font-semibold mb-4">Filter SBARs</h2>
        <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
          <div class="grid grid-cols-3 gap-4">
            <div class="col-span-1">
              <label for="id" class="block text-gray-700">ID</label>
              <input type="number" autocomplete="off" id="id" formControlName="id" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg">
            </div>
            <div class="col-span-1">
              <label for="date" class="block text-gray-700">Date</label>
              <input type="date" id="date" formControlName="date" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg">
            </div>
            <div class="col-span-1">
              <label for="createdBy" class="block text-gray-700">Created By</label>
              <input type="text" id="createdBy" formControlName="createdBy" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg">
            </div>
          </div>
          <div class="mt-4">
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Apply Filter</button>
          </div>
        </form>
      </div>
    </div>

     <table *ngIf="!filtering && sbars && sbars.length > 0" class="min-w-full bg-gray-800 text-gray-200">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b text-left">Id</th>
            <th class="py-2 px-4 border-b text-left">Situation</th>
            <th class="py-2 px-4 border-b text-left">Background</th>
            <th class="py-2 px-4 border-b text-left">Assessment</th>
            <th class="py-2 px-4 border-b text-left">Recommendation</th>
            <th class="py-2 px-4 border-b text-left">Created by</th>
            <th class="py-2 px-4 border-b text-left">Created at</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sbar of sbars">
            <td class="py-2 px-4 border-b text-left">{{ sbar.id }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.situation }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.background }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.assessment }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.recommendation }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.createdBy?.role || 'N/A' }} {{ sbar.createdBy?.lastName || '' }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.createdAt }}</td>
        </tr>
    </tbody>
</table>

      <p *ngIf="!sbars || sbars.length === 0" class="text-center text-gray-500">No SBARs available.</p>


      <table *ngIf="filteredSbars && filteredSbars.length > 0" class="min-w-full bg-gray-800 text-gray-200">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b text-left">Id</th>
            <th class="py-2 px-4 border-b text-left">Situation</th>
            <th class="py-2 px-4 border-b text-left">Background</th>
            <th class="py-2 px-4 border-b text-left">Assessment</th>
            <th class="py-2 px-4 border-b text-left">Recommendation</th>
            <th class="py-2 px-4 border-b text-left">Created by</th>
            <th class="py-2 px-4 border-b text-left">Created at</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sbar of filteredSbars">
            <td class="py-2 px-4 border-b text-left">{{ sbar.id }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.situation }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.background }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.assessment }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.recommendation }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.createdBy?.role || 'N/A' }} {{ sbar.createdBy?.lastName || '' }}</td>
            <td class="py-2 px-4 border-b text-left">{{ sbar.createdAt }}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="!filteredSbars && !sbars || filteredSbars.length === 0" class="text-center text-gray-500">No SBARs available.</p>
      
    </div>

    <div *ngIf="showAddPatientModal" class="fixed inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center z-30">
      <div class="bg-[#2f485a] text-[#cbd5e0] p-6 rounded-lg shadow-lg w-full max-w-lg">
        <div class="flex justify-between items-center">
          <h2 class="text-3xl font-bold text-white mb-6">Add Patient in {{selectedUnit.name}}</h2>
          <span class="material-icons cursor-pointer font-bold " (click)="showAddPatientModal=false">
            close
            </span>
        </div>
       
        <form [formGroup]="addPatientForm" (ngSubmit)="addPatient()">
          <div class="mb-4">
            <label for="firstName" class="block text-white  font-bold mb-2">First Name</label>
            <input formControlName="firstName" type="text" id="firstName" class="w-full p-2 border rounded outline-none text-black" />
            <div *ngIf="addPatientForm.get('firstName')?.hasError('required') && (addPatientForm.get('firstName')?.touched || submitted)  " class="text-red-700">First name is required</div>
          </div>
          <div class="mb-4">
            <label for="lastName" class="block text-white font-bold mb-2">Last Name</label>
            <input formControlName="lastName" type="text" id="lastName" class="w-full p-2 border rounded outline-none text-black"  />
            <div *ngIf="addPatientForm.get('lastName')?.hasError('required') && (addPatientForm.get('lastName')?.touched || submitted ) " class="text-red-700">Lats name is required</div>
          </div>
         
          <div class="mb-4">
            <label for="unit" class="block text-white font-bold mb-2">Unit</label>
            <input type="text" id="unit" class="w-full p-2 border rounded outline-none text-black" value="{{selectedUnit.name}} " readonly/>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded">Add Patient</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="showAddDepartmentModal" class="fixed inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center z-30">
      <div class="bg-[#2f485a] text-[#cbd5e0] p-6 rounded-lg shadow-lg w-full max-w-lg">
        <div class="flex justify-between items-center">
          <h2 class="text-3xl font-bold text-white mb-6">Add Department </h2>
          <span class="material-icons cursor-pointer font-bold " (click)="showAddDepartmentModal=false">
            close
            </span>
        </div>
       
        <form [formGroup]="addDepartmentForm" (ngSubmit)="addDepartment()">
          <div class="mb-4">
            <label for="name" class="block text-white  font-bold mb-2">Department Name</label>
            <input formControlName="name" type="text" id="name" class="w-full p-2 border rounded outline-none text-black" />
            <div *ngIf="addDepartmentForm.get('name')?.hasError('required') && (addDepartmentForm.get('name')?.touched || submitted)  " class="text-red-700 font-bold text-lg"> Department name is required</div>
          </div>
          
          <div class="flex justify-end">
            <button type="submit" class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded">Add department</button>
          </div>
        </form>
      </div>
    </div>


    <div *ngIf="showAddUnitModel" class="fixed inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center z-30">
      <div class="bg-[#2f485a] text-[#cbd5e0] p-6 rounded-lg shadow-lg w-full max-w-lg">
        <div class="flex justify-between items-center">
          <h2 class="text-3xl font-bold text-white mb-6">Add Unit </h2>
          <span class="material-icons cursor-pointer font-bold " (click)="showAddUnitModel=false">
            close
            </span>
        </div>
       
        <form [formGroup]="addUnitForm" (ngSubmit)="addUnit()">
          <div class="mb-4">
            <label for="name" class="block text-white  font-bold mb-2">Unit Name</label>
            <input formControlName="name" type="text" id="name" class="w-full p-2 border rounded outline-none text-black" />
            <div *ngIf="addUnitForm.get('name')?.hasError('required') && (addUnitForm.get('name')?.touched || submitted)  " class="text-red-700 font-bold text-lg"> Unit name is required</div>
          </div>
          
          <div class="flex justify-end">
            <button type="submit" class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded">Add unit</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="showCreateSbarForm" class="fixed  inset-0 bg-black bg-opacity-50 text-white flex items-center justify-center z-30 h-auto ">
      <div class="bg-[#2f485a] p-8 rounded-lg shadow-lg w-2/3 ml-28 mt-14 ">
        <h2 class="text-xl font-semibold mb-6">Add SBAR to {{selectedPatient.firstName}} {{selectedPatient.lastName}}</h2>
        <form [formGroup]="createSbarForm" (ngSubmit)="addSbar()">
          <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
              <label class="block mb-2 text-lg font-medium" for="situation">Situation</label>
              <textarea formControlName="situation" id="situation" class="w-full h-32 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg"></textarea>
              <span *ngIf="createSbarForm.get('situation')?.hasError('required') && (createSbarForm.get('situation')?.touched || submitted)" class="text-lg text-red-700">Situation is required</span>
            </div>
            <div class="mb-4">
              <label class="block mb-2 text-lg font-medium" for="background">Background</label>
              <textarea formControlName="background" id="background" class="w-full h-32 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg"></textarea>
              <span *ngIf="createSbarForm.get('background')?.hasError('required') && (createSbarForm.get('background')?.touched || submitted)" class="text-lg text-red-700">Background is required</span>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
              <label class="block mb-2 text-lg font-medium" for="assessment">Assessment</label>
              <textarea formControlName="assessment" id="assessment" class="w-full h-32 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg"></textarea>
              <span *ngIf="createSbarForm.get('assessment')?.hasError('required') && (createSbarForm.get('assessment')?.touched || submitted)" class="text-lg text-red-700">Assessment is required</span>
            </div>
            <div class="mb-4">
              <label class="block mb-2 text-lg font-medium" for="recommendation">Recommendation</label>
              <textarea formControlName="recommendation" id="recommendation" class="w-full h-32 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-black text-lg"></textarea>
              <span *ngIf="createSbarForm.get('recommendation')?.hasError('required') && (createSbarForm.get('recommendation')?.touched || submitted)" class="text-lg text-red-700">Recommendation ios required</span>
            </div>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg mr-2">Save</button>
            <button type="button" class="bg-gray-600 text-white px-4 py-2 rounded-lg" (click)="showCreateSbarForm=false">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    
  </main>
</div>
