<div class="bg-[#e4ecf1] p-6 rounded-lg shadow-lg overflow-y-auto">
    <h2 class="text-3xl font-bold text-[#2f485a] mb-6">Manage Staffs</h2>
    <button class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded mb-6"><a href="create/staff">Add Staff</a></button>

    <table  class="w-full text-sm text-left rtl:text-right bg-[#2f485a] text-white mb-28 p-8 pr-16">

        <thead class="text-xs  uppercase text-gray-50  pr-16">
            <tr>

                <th scope="col" class="px-6 py-3 border-b">
                    Id
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3 border-b">
                    Last Name
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    Email
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    Role
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    Department
                </th>
                <th scope="col" class="px-6 py-3 border-b">
                    Unit
                </th>
                <th *ngIf="isAdmin" scope="col" class=" py-3 border-b">
                  Status
                </th>
                <th *ngIf="isAdmin" scope="col" class=" py-3 border-b">
                 Action
               </th>
               <th *ngIf="isAdmin" scope="col" class=" py-3 border-b">

              </th>
              <th *ngIf="isAdmin" scope="col" class=" py-3 border-b">

              </th>


            </tr>
        </thead>
        <tbody class="overflow-auto  bg-[#2f485a] text-white">
            <tr  *ngFor="let staff of staffs"  class="text-white border-b border-white dark:text-gray-800 dark:border-gray-700 hover:text-gray-50 dark:hover:text-gray-600">
              <td class=" px-6 py-4">
               {{staff.id}}
              </td>

              <td class="px-6 py-3">{{staff.firstName}}</td>
              <td class="px-6 py-3">{{staff.lastName}}</td>
              <td class="px-6 py-3">{{staff.email}}</td>
              <td class="px-6 py-3">{{staff.role}}</td>
              <td class="px-6 py-3">{{staff.department?.name}}</td>
              <td class="px-6 py-3">{{staff.unity?.name}}</td>
              <td *ngIf="!staff.approved && isAdmin"  class="px-6 py-3 text-red-500">Pending</td>
              <td *ngIf="staff.approved && isAdmin"  class="px-6 py-3 text-green-500"> Approved</td>
              <td ><button *ngIf="!staff.approved && isAdmin" (click)="approveUser(staff.id)" class="text-green-500" >approve</button></td>
              <td><button *ngIf="isAdmin" (click)="editStaff(staff)" ><mat-icon class="text-red-500 ">edit</mat-icon></button></td>
              <td><button *ngIf="isAdmin" (click)="removeStaff(staff.id)" ><mat-icon class="text-red-700">delete</mat-icon></button></td>
            </tr>

          </tbody>
    </table>

  </div>


  <div *ngIf="showEditStaffModal" class="fixed inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center z-30">
    <div class="bg-[#2f485a] text-[#cbd5e0] p-6 rounded-lg shadow-lg w-full max-w-lg">
      <div class="flex justify-between items-center">
        <h2 class="text-3xl font-bold text-white mb-6">Edit Staff: {{selectedStaff?.firstName}} {{selectedStaff?.lastName}}</h2>
        <span class="material-icons cursor-pointer font-bold" (click)="showEditStaffModal=false">close</span>
      </div>

      <form [formGroup]="editStaffForm" (ngSubmit)="updateStaff()">
        <div class="mb-4">
          <label for="department" class="block text-white font-bold mb-2">Department</label>
          <select formControlName="departmentId" id="department" class="w-full p-2 border rounded outline-none text-black" (change)="onDepartmentChange($event)">
            <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="unit" class="block text-white font-bold mb-2">Unit</label>
          <select  formControlName="unityId" id="unit" class="w-full p-2 border rounded outline-none text-black">
            <option *ngFor="let unity of availableUnities" [value]="unity.id">{{unity.name}}</option>
          </select>
        </div>

        <div class="flex justify-end">
          <button type="submit" class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded">Update Staff</button>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="showRemoveUserModal" class="fixed inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center z-30">
    <div class="bg-[#2f485a] text-[#cbd5e0] p-6 rounded-lg shadow-lg w-full max-w-sm">
     <h2 class="text-2xl font-bold text-white mb-6">Are you sure you want to remove this user?</h2>
     <div class="flex justify-end space-x-4">
      <button (click)="confirmRemoveStaff()" class="bg-red-600 hover:bg-red-800 text-white px-4 py-2 rounded">Yes</button>
     <button (click)="showRemoveUserModal=false" class="bg-gray-600 hover:bg-gray-800 text-white px-4 py-2 rounded">No</button>
      </div>


    </div>
     </div>

     <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
