<div class="bg-[#e4ecf1] p-6 rounded-lg shadow-lg overflow-y-auto">
    <h2 class="text-3xl font-bold text-[#2f485a] mb-6">Manage Staffs</h2>
    <button class="bg-[#4fd1c5] hover:bg-[#38a89d] text-white px-4 py-2 rounded mb-6">Add Staff</button>
  
    <table  class="w-full text-sm text-left rtl:text-right bg-[#2f485a] text-white mb-28 p-8">
        
        <thead class="text-xs  uppercase text-gray-50 ">
            <tr>
              
                <th scope="col" class="px-6 py-3 border-b">
                    Id
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3 border-b">
                    Last Name
                </th>

                <th scope="col" class="px-6 py-3 border-b">
                    Email
                </th>
               
                <th scope="col" class="px-6 py-3 border-b">
                    Role
                </th>
                
                <th scope="col" class=" py-3 border-b">
                    Edit
                </th>
                <th scope="col" class=" py-3 border-b">
                    Delete
                </th>
               
            </tr>
        </thead>
        <tbody class="overflow-auto  bg-[#2f485a] text-white">
            <tr  *ngFor="let staff of staffs"  class="text-white border-b border-white dark:text-gray-800 dark:border-gray-700 hover:text-gray-50 dark:hover:text-gray-600">
              <td class=" px-6 py-4">
               {{staff.id}}
              </td>
            
              <td class="px-6 py-3">{{staff.firstName}}</td>
              <td class="px-6 py-3">{{staff.lastName}}</td>
              <td class="px-6 py-3">{{staff.email}}</td>
              <td class="px-6 py-3">{{staff.role}}</td>
              <td><button ><mat-icon class="text-red-500 ">edit</mat-icon></button></td>
              <td><button ><mat-icon class="text-red-700">delete</mat-icon></button></td>
            </tr>
            
          </tbody>
    </table>

  </div>
  