<div class="container mx-auto flex flex-col items-center justify-center py-10">
    <div class="bg-[#2f485a] p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-semibold text-center mb-6 text-[#4fd1c5]">Signup</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-[#cbd5e0] mb-2" for="firstName">First Name</label>
          <div class="relative items-center justify-center">
            <span class="material-icons absolute left-2 top-2 text-[#4fd1c5]">person</span>
            <input
              formControlName="firstName"
              id="firstName"
              type="text"
              class="w-full pl-10 pr-3 py-2 rounded-md bg-[#1d2f3c] text-[#cbd5e0] focus:outline-none"
            />
          </div>
          <div *ngIf="signupForm.get('firstName')?.hasError('required') && (signupForm.get('firstName')?.touched || submitted)"
              class="text-red-500">First Name is required</div>
        </div>
  
        <div class="mb-4">
          <label class="block text-[#cbd5e0] mb-2" for="lastName">Last Name</label>
          <div class="relative">
            <span class="material-icons absolute left-2 top-2 text-[#4fd1c5]">person</span>
            <input
              formControlName="lastName"
              id="lastName"
              type="text"
              class="w-full pl-10 pr-3 py-2 rounded-md bg-[#1d2f3c] text-[#cbd5e0] focus:outline-none"
            />
          </div>
          <div *ngIf="signupForm.get('lastName')?.hasError('required') && (signupForm.get('lastName')?.touched || submitted)"
              class="text-red-500">Last Name is required</div>
        </div>
  
        <div class="mb-4">
          <label class="block text-[#cbd5e0] mb-2" for="email">Email</label>
          <div class="relative">
            <span class="material-icons absolute left-2 top-2 text-[#4fd1c5]">email</span>
            <input
              formControlName="email"
              id="email"
              type="email"
              class="w-full pl-10 pr-3 py-2 rounded-md bg-[#1d2f3c] text-[#cbd5e0] focus:outline-none"
            />
          </div>
          <div *ngIf="signupForm.get('email')?.hasError('required') && (signupForm.get('email')?.touched || submitted)"
              class="text-red-500">Email is required</div>
          <div *ngIf="signupForm.get('email')?.hasError('email') && (signupForm.get('email')?.touched || submitted)"
              class="text-red-500 text-xs">Please enter a valid email address</div>
        </div>
  
        <div class="mb-6">
          <label class="block text-[#cbd5e0] mb-2" for="password">Password</label>
          <div class="relative">
            <span class="material-icons absolute left-2 top-2 text-[#4fd1c5]">lock</span>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="w-full pl-10 pr-3 py-2 rounded-md bg-[#1d2f3c] text-[#cbd5e0] focus:outline-none"
            />
          </div>
          <div *ngIf="signupForm.get('password')?.hasError('required') && (signupForm.get('password')?.touched || submitted)"
              class="text-red-500">Password is required</div>
          <div *ngIf="signupForm.get('password')?.hasError('minlength') && (signupForm.get('password')?.touched || submitted)"
              class="text-red-500 text-xs">Password must be at least 6 characters long</div>
        </div>
  
        <button type="submit" class="w-full bg-[#4fd1c5] hover:bg-[#38a89d] text-white font-semibold py-2 rounded-md" [disabled]="signupForm.invalid">Signup</button>
      </form>
    </div>
  </div>
  