<div class="container mx-auto flex flex-wrap items-center justify-between p-6">
  <h1 class="text-3xl font-bold text-[#4fd1c5]">SBAR Healthcare</h1>
  
  <!-- Profile Icon and User Last Name -->
 
  
  <button (click)="isMenuOpen = !isMenuOpen" class="md:hidden text-[#4fd1c5] focus:outline-none">
    <span class="material-icons">menu</span>
  </button>
  
  <nav [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="w-full md:flex md:w-auto mt-4 md:mt-0">
    <a routerLink="/home" class="block md:inline-block text-lg text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 rounded-md">Home</a>
    
   
    
    <!-- Displayed when logged out -->
   
    <ng-template #loggedOut>
      <a routerLink="/login" class="block md:inline-block text-lg text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 rounded-md">Login</a>
    </ng-template>

     <!-- Displayed when logged in -->
     <ng-container *ngIf="isLoggedIn; else loggedOut">
      <a routerLink="/dashboard/admin" class="block md:inline-block text-lg text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 rounded-md">Dashboard</a>
      <!-- <a routerLink="/profile" class="block md:inline-block text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 rounded-md">Profile</a>
      <a routerLink="/notifications" class="block md:inline-block text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 rounded-md">Notifications</a> -->

      <div  class="flex  items-center ml-2 md:ml-16 md-inline-block">
        <span class="material-icons hidden md:block  text-[#4fd1c5]">account_circle</span>
        <span class="text-[#4fd1c5] ml-2 text-lg">{{ currentUser.lastName }}</span>
      </div>
      <a (click)="logout()" class="block md:inline-block text-lg text-[#4fd1c5] hover:bg-[#2d5261] px-4 py-2 ml-0 md:ml-4 rounded-md cursor-pointer">Logout</a>
    </ng-container>
  </nav>
</div>
