<div>
    <h2 class="text-3xl font-bold text-[#2f485a] mb-6">Overview</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">

      <div class="bg-[#2f485a] text-white p-4 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2">{{currentUser.hospital}} ID</h3>
        <p class="text-lg">{{currentUser.hospitalId}}</p>
      </div>
      <div class="bg-[#2f485a] text-white p-4 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2">Departments</h3>
        <p class="text-lg">{{departmentsCount}}</p>
      </div>
     
      <div class="bg-[#2f485a] text-white p-4 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2">Staff Members</h3>
        <p class="text-lg">{{staffsCount}}</p>
      </div>
      <div class="bg-[#2f485a] text-white p-4 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2">Patients</h3>
        <p class="text-lg">{{patientsCount}}</p>
      </div>
    </div>
  
    <div class="bg-white p-6 rounded-lg shadow-md mb-6 text-mg">
      <h3 class="text-2xl font-bold text-[#2f485a] mb-4">Hospital ID</h3>
      <ul class="list-disc list-inside text-black ">
        <li >The hospital admin will use the provided hospital id to create staff</li>
        <li>For better management of credentials, Hospital Id can be provided to the staff to join hospital himself</li>
        <!-- Add more activities here -->
      </ul>
    </div>
  
    <div class="bg-white p-6 rounded-lg shadow-md mb-6 text-md">
      <h3 class="text-2xl font-bold text-[#2f485a] mb-4">Staffs access control</h3>
      <ul class="list-disc list-inside text-black ">
        <li>Admin will approve a joined staff for him to access the system</li>
        <li>Staff number shows all staffs including non approved ones</li>
        <!-- Add more tasks here -->
      </ul>
    </div>
  
    <div class="bg-white p-6 rounded-lg shadow-md text-md">
      <h3 class="text-2xl font-bold text-[#2f485a] mb-4">Discharging Patient</h3>
      <ul class="list-disc list-inside text-black">
        <li>Discharging patient consists of archiving all his/her information for future use</li>
        <li>Once a patient get sick again, he/she can be readmitted by restoring the archive</li>
  
      </ul>
    </div>
  </div>
  